#board {
	display: none;
}

.draw_field {
  top: 0;
  left: 0;
  position: absolute;
}

.row {
	overflow: hidden;
}

.field {
	float: left;
	border: 1px solid black;
	margin: 1px;
	height: 100px;
	width: 100px;
}

.circle {
	background: url("./circle.png");
	background-size: 100% 100%;
}

.cross {
	background: url("./cross.png");
	background-size: 100% 100%;
}
